.FrequentlyQuestion{
    background-image: url('./asset/FrequentlyQuestion.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #e40000; */
}