.ps{
    background-color: rgba(11, 14, 11, 0.3) ;
}
.card{
    background-color:  rgba(11, 14, 11, 0.0) ;
}
.blueCard{
    background-color: blue;
    background-image: url('../assets/card1Layer.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.blackCard{
    background-color: rgba(00, 00, 00,0.1);
    background-image: url('../assets/card2Layer.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    color: rgb(21, 16, 59);
}
.yellowListHover li{
    list-style: none;
    font-size: 1rem;
    line-height: 1.7rem;    
    font-weight: 500;
    color: rgb(213, 212, 212);
}
.yellowListHover ,li:hover{
    color: rgb(255, 176, 4);
}
.yellowListHover li a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(148, 144, 144);
}