
.TopHeading{
    font-size: 1rem;
}
.Schdule{
    background-color: rgb(245 164 3);
}
.WelcomeHome{
background-image: url('../../../assets/defaultLayout.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}