.RajendraPhoto{
    background-image: url('./assets/prakashSir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
    border-radius: 35px 0px 35px 0px;
    width: 13rem;
}   

.JitendraPhoto{
    background-image: url('./assets/santoshSir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
    border-radius: 35px 0px 35px 0px;
    width: 13rem;
}

.NirmalPhoto{
    background-image: url('./assets/manish-balodiaSir.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
    border-radius: 35px 0px 35px 0px;
    width: 13rem;
}

.RahulPhoto{
    background-image: url('./assets/sahib-khanSir.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
    border-radius: 35px 0px 35px 0px;
    width: 13rem;
}