.PositionCol{
    position: relative;
    top: -5rem;

}
.Level1{
    background-color: rgb( 66, 20, 225);
    background-image: url('./diversAssest/diversAsset.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Level2{
    background-color: rgb(124 8 185);
    background-image: url('./diversAssest/diversAsset.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Level3{
    background-color: rgb(184 147 9);
    background-image: url('./diversAssest/diversAsset.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Level4{
    background-color: rgb(0 132 92);
    background-image: url('./diversAssest/diversAsset.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}